body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.floating-object {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #ff4757;
    color: white;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 71, 87, 0.5);
    animation: float 3s ease-in-out infinite;
    -webkit-animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
