body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: heartbeat 1.3s infinite;
    -webkit-animation: heartbeat 1.3s infinite;
}

.heart::before,
.heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    30% {
        transform: scale(1.2) rotate(-45deg);
    }
    60% {
        transform: scale(1) rotate(-45deg);
    }
    100% {
        transform: scale(1.2) rotate(-45deg);
    }
}
