body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 20px;
    height:50vh;
    width:30%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #36d1dc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #5b86e5;
}
a{
    text-decoration: none;
}