body {
    background-color: #222;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.scroll-container {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.scroll-text {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #ff4757;
    padding-left: 100%;
    animation: scrollText 10s linear infinite;
    -webkit-animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
